@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap");

.footer {
  display: flex;
  justify-content: space-around;
  background-color: rgba(232, 105, 73, 0.499);
  padding-top: 50px;
  padding-bottom: 50px;
}

.name1,
.newsletter {
  font-family: "Rethink Sans", sans-serif;
  font-size: larger;
  color: Black;
}

.name1,
.name2 {
  list-style-type: none;
}
.name2 a {
  text-decoration: none;
  color: black;
  font-family: "Rethink Sans", sans-serif;
}

.name2 a:hover {
  color: indianred;
}

.newsletterParagraph {
  font-family: "Rethink Sans", sans-serif;
}

#footerEmail {
  background-color: rgba(218, 233, 238, 0.221);
  border-style: none;
  border-bottom: 1px solid black;
}
