@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.list {
  list-style-type: none;
  font-family: "Press Start 2P", system-ui;
}

.button_X {
  height: 30px;
  width: 50px;
  background-color: #b294e9;
  border: solid black;
  margin: 5px;
}
