@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap");

.navWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-style: solid;
  border-radius: 4px;
  border-color: black;
  padding: 10px;
  height: 200px;
}

.searchSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
}

.searchBar {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.buttonLogin,
.buttonSign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black;
  border: 2px solid black;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  height: 18px;
}

.buttonLogin a,
.buttonSign a {
  font-family: "Rethink Sans", sans-serif;
  font-size: 16px;
  color: black;
}

.buttonLogin a:hover,
.buttonSign a:hover {
  color: indianred;
}
